<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">
	<select id="getData" parameterType="string" resultType="loginDto">
		SELECT id, pwd, email, profile, savefilename,
			TO_CHAR(regdate, 'YY.MM.DD HH24"시"MM"분"') AS regdate
		FROM login
		WHERE id=#{id, jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="loginDto">
		INSERT INTO login
		(id, pwd, email, regdate)
		VALUES(#{id}, #{pwd}, #{email}, SYSDATE)
	</insert>
	<select id="isExist" parameterType="String" resultType="String">
		SELECT id
		FROM login
		WHERE id=#{inputId}
	</select>
	<update id="updatePwd" parameterType="loginDto">
		UPDATE login
		SET pwd=#{newPwd}
		WHERE id=#{id}
	</update>
	<update id="update" parameterType="loginDto">
		UPDATE login
		SET profile=#{profile}, savefilename=#{saveFileName}, email=#{email}
		WHERE id=#{id}
	</update>
</mapper>