<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myrecipe">
	<select id="getList" parameterType="myrecipeDto" resultType="myrecipeDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM rnum
			FROM
				(SELECT num, title, subtitle, content, writer, regdate,
					imagepath, showimage, viewcount
				FROM my_recipe
				<choose>
					<when test="title != null and content != null">
						WHERE title LIKE '%'||#{title}||'%' OR content LIKE '${content}'
					</when>
					<when test="title != null">
						WHERE title LIKE '%'||#{title}||'%'
					</when>
					<when test="writer != null">
						WHERE writer LIKE '${writer}'
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" parameterType="myrecipeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM my_recipe
		<choose>
			<when test="title != null and content != null">
				WHERE title LIKE '%'||#{title}||'%' OR content LIKE '${content}'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '${writer}'
			</when>
		</choose>
	</select>
	<select id="getWriteData" parameterType="String" resultType="myrecipeDto">
		SELECT mr.num, log.id, mr.title, mr.subTitle, mr.content, 
			mr.writer, mr.regdate, mr.imagePath, mr.showImage, mr.viewCount
		FROM my_recipe mr, login log
		WHERE mr.writer(+) = log.id AND id = #{writer}
	</select>
</mapper>