<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tempmyrecipe">
	<select id="getTempWriteData" parameterType="String" resultType="tempmyrecipeDto">
		SELECT *
		FROM tmp_my_recipe
		WHERE tmp_writer = #{tmp_writer}
	</select>
</mapper>